      img,
      legend {
        border: 0
      }

      .btn,
      .text-center {
        text-align: center
      }

      .btn,
      img {
        vertical-align: middle
      }

      html {
        font-family: 'Inter', sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%
      }

      a {
        background-color: transparent;
        color: #337ab7;
        text-decoration: none
      }

      .form-control,
      body {
        background-color: #fff
      }

      strong {
        font-weight: 700
      }

      h1 {
        margin: .67em 0
      }

      button,
      input {
        margin: 0;
        font: inherit;
        color: inherit
      }

      button {
        overflow: visible
      }

      button {
        text-transform: none
      }

      button {
        -webkit-appearance: button
      }

      input[type=checkbox] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0
      }

      *,
      :after,
      :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
      }

      html {
        font-size: 10px
      }

      body {
        margin: 0;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #000
      }

      button,
      input {
        font-family: 'Inter', sans-serif;
        font-size: inherit;
        line-height: inherit
      }

      .img-responsive {
        display: block;
        max-width: 100%;
        height: auto
      }

      h1,
      h2,
      h3,
      h5 {
       font-family: 'Inter', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        color: inherit
      }

      h1,
      h2,
      h3 {
        margin-top: 20px;
        margin-bottom: 10px
      }

      h5 {
        margin-top: 10px;
        margin-bottom: 10px
      }

      h1 {
        font-size: 36px
      }

      h2 {
        font-size: 30px
      }

      h3 {
        font-size: 24px
      }

      h5 {
        font-size: 14px
      }

      p {
        margin: 0 0 10px
      }

      .small {
        font-size: 85%
      }

      ul {
        margin-top: 0;
        margin-bottom: 10px
      }

      .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
      }

      @media (min-width:768px) {
        .container {
          width: 750px
        }
      }

      @media (min-width:992px) {
        .container {
          width: 970px
        }
      }

      @media (min-width:1200px) {
        .container {
          width: 1170px
        }
      }

      .row {
        margin-right: -15px;
        margin-left: -15px
      }

      .col-lg-12,
      .col-lg-2,
      .col-lg-3,
      .col-lg-4,
      .col-lg-8,
      .col-md-12,
      .col-md-2,
      .col-md-3,
      .col-md-4,
      .col-md-8,
      .col-sm-12,
      .col-sm-3,
      .col-sm-4,
      .col-sm-6,
      .col-xs-10,
      .col-xs-12,
      .col-xs-4,
      .col-xs-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
      }

      .col-xs-10,
      .col-xs-12,
      .col-xs-4,
      .col-xs-6 {
        float: left
      }

      .col-xs-12 {
        width: 100%
      }

      .col-xs-10 {
        width: 83.33333333%
      }

      .col-xs-6 {
        width: 50%
      }

      .col-xs-4 {
        width: 33.33333333%
      }

      .col-xs-push-1 {
        left: 8.33333333%
      }

      @media (min-width:768px) {

        .col-sm-12,
        .col-sm-3,
        .col-sm-4,
        .col-sm-6 {
          float: left
        }

        .col-sm-12 {
          width: 100%
        }

        .col-sm-6 {
          width: 50%
        }

        .col-sm-4 {
          width: 33.33333333%
        }

        .col-sm-3 {
          width: 25%
        }

        .col-sm-push-0 {
          left: auto
        }
      }

      @media (min-width:992px) {

        .col-md-12,
        .col-md-2,
        .col-md-4,
        .col-md-8,
        .col-md-3 {
          float: left
        }

        .col-md-12 {
          width: 100%
        }

        .col-md-8 {
          width: 66.66666667%
        }

        .col-md-4 {
          width: 33.33333333%
        }

        .col-md-3 {
          width: 25%
        }

        .col-md-2 {
          width: 16.66666667%
        }

        .col-md-push-1 {
          left: 8.33333333%
        }

        .col-md-push-2 {
          left: 16.66666667%
        }
      }

      @media (min-width:1200px) {

        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-8 {
          float: left
        }

        .col-lg-12 {
          width: 100%
        }

        .col-lg-8 {
          width: 66.66666667%
        }

        .col-lg-4 {
          width: 33.33333333%
        }

        .col-lg-3 {
          width: 25%
        }

        .col-lg-2 {
          width: 16.66666667%
        }

        .col-lg-push-2 {
          left: 16.66666667%
        }

        .col-lg-push-1 {
          left: 8.33333333%
        }
      }

      legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #000;
        border-bottom: 1px solid #e5e5e5
      }

      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700
      }

      input[type=checkbox] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal
      }

      .btn,
      .form-control {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-image: none
      }

      .form-control {
        display: block;
        width: 100%;
        height: 34px;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
      }

      .form-group {
        margin-bottom: 15px
      }

      .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        white-space: nowrap;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        border: 1px solid transparent;
        border-radius: 4px
      }

      .container:after,
      .container:before,
      .row:after,
      .row:before {
        display: table;
        content: " "
      }

      .container:after,
      .row:after {
        clear: both
      }

      .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto
      }

      .pull-right {
        float: right !important
      }

      @-ms-viewport {
        width: device-width
      }

      .visible-sm,
      .visible-xs {
        display: none !important
      }

      @media (min-width:768px) and (max-width:991px) {
        .visible-sm {
          display: block !important
        }
      }

      @media (max-width:767px) {
        .visible-xs {
          display: block !important
        }

        .hidden-xs {
          display: none !important
        }
      }

      @media (min-width:768px) and (max-width:991px) {
        .hidden-sm {
          display: none !important
        }
      }

      body {
        height: 100%;
        overflow-y: scroll;
        font-family: 'Inter', sans-serif;
      }

      .container {
        max-width: 1008px
      }

      .header {
        padding: 15px 0
      }

      .header img.logos {
        margin-top: 15px
      }

      .cont1 {
        background: #0070bb;
        padding-bottom: 25px
      }

      .trialcont {
        padding-bottom: 75px
      }

      .cont0 h1 {
        font-size: 38px;
        font-weight: 300;
        margin: 10px 0
      }

      .cont0 h1 span {
        font-weight: 700;
        color: #00bbd3
      }

      .cont0 h2 {
        font-size: 28px;
        font-weight: 300;
        margin: 10px 0 20px
      }

      .cont0 h2 span {
        font-weight: 700
      }

      .cont0 .trialtext {
        margin-bottom: 35px
      }

      .cont1 form {
        background: #fff;
        border-top: 5px solid #29abe1;
        padding: 15px 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
        position: relative;
        z-index: 1
      }

      .cont1 form legend {
        font-size: 18px;
        font-weight: 700;
        color: #0070bb;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 15px
      }

      .cont1 form .form-group {
        margin-bottom: 10px;
        position: relative
      }

      .cont1 form .form-control {
        font-size: 12px;
        height: 36px;
        border-radius: 0
      }

      .cont1 form label.authtomarket {
        padding: 0 1em;
        margin-bottom: .25em;
        font-size: .75em;
        font-weight: 400;
        text-align: center;
        color: #000
      }

      .cont1 form label.authtomarket input {
        vertical-align: sub;
        width: 14px;
        height: 14px
      }

      .cont1 form p.small {
        font-size: 10px
      }

      .cont1 form button.btn {
        border-radius: 1000px;
        background: #f7921e;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        padding: 12px 60px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        position: relative;
        overflow: hidden
      }

      .cont1 form img.arrow {
        position: absolute;
        left: -30px;
        top: -8px;
        z-index: 2
      }

      .cont1 img.leftcont {
        margin-top: 52px
      }

      .cont1 form img.badgeimg {
        position: absolute;
        top: -24px;
        right: -43px
      }

      .cont1 .content {
        margin-top: 90px
      }

      .cont1 .content h3 {
        background: #29abe1;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
        padding: 10px 25px
      }

      .cont1 .content .inner {
        background: #fff;
        padding: 25px
      }

      .cont1 .content .inner ul {
        overflow: hidden;
        padding: 0 0 0 25px;
        line-height: 2.125
      }

      .sealcont h5,
      .trialcont p {
        font-size: 12px
      }

      .cont1 .content .inner ul li strong {
        margin-left: 5px
      }

      .lowmargin {
        margin-bottom: 0
      }

      .sealcont {
        background: #0070bb;
        width: 100%;
        padding: 3em 0 1em;
        margin-top: -4em
      }

      .sealcont h5 {
        color: #fff;
        text-transform: uppercase;
        margin-top: 2em
      }

      .cont2 {
        padding: 25px 0
      }

      .sealcont img.mcafee {
        margin-top: 8px
      }

      .cont2 h3 {
        font-size: 24px
      }

      .cont2 p {
        font-size: 13px
      }

      .cont2 img {
        margin-bottom: 25px
      }

      .nopaddingright {
        padding-right: 0
      }

      .p085 {
        padding: 0 85px
      }

      .nopaddingleft {
        padding-left: 0
      }

      .nopaddingleftright {
        padding-left: 0;
        padding-right: 0
      }

      .mtop-3 {
        margin-top: -3em
      }

      .form-control-placeholder {
        position: absolute;
        top: 2px;
        padding: 7px 0 0 13px;
        opacity: .5;
        font-weight: 400
      }

      @media (max-width:991px) {
        .p085 {
          padding: 0
        }

        .nopaddingleft {
          padding-left: 15px
        }

        .nopaddingright {
          padding-right: 15px
        }

        .cont1 form img.badgeimg {
          right: 0
        }

        .cont1 .content {
          margin-top: 10px;
          margin-bottom: 10px
        }
      }

      @media (max-width:767px) {
        .header img.logos {
          float: none !important
        }

        .nopaddingleft {
          padding-left: 15px
        }

        .nopaddingright {
          padding-right: 15px
        }

        .cont1 .content {
          margin-top: 10px;
          margin-bottom: 10px
        }

        .header img.logos {
          margin-right: auto;
          margin-left: auto;
          display: block
        }

        .cont1 form button.btn {
          width: 100%
        }

        p.trialtext {
          color: #000;
          font-size: 11px;
          margin: 0 0 5px
        }

        .cont0 .trialtext {
          margin-bottom: 0
        }

        .cont0 h1 {
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 24px
        }

        .header {
          padding-bottom: 5px
        }

        .cont0 {
          margin-top: 15px
        }

        .cont1 form img.badgeimg {
          top: 6px;
          z-index: 1
        }

        .cont0 h2 {
          font-size: 16px
        }
      }
    #headerimages .processorcont p.poweredby {
              margin-top: 2px;
              font-size: 10px;
              text-align: left;
              position: relative
            }

            #headerimages .processorcont p.poweredby span {
              position: relative;
              font-style: italic;
              top: 3px
            }

            #headerimages .processorcont p.poweredby img.processor {
              max-height: 20px;
              display: inline-block;
              margin-left: 3px
            }

            @media(max-width:767px) {
              #headerimages {
                display: table;
                margin: 0 auto
              }
            }